*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 75vw;
}
section.btnSection{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
section.chessSection{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
div.chess{
    width: 90%;
    height: 50%;
    display: grid;
    grid-auto-flow: row;
    border: 1px solid black;
}
div.chess>div.row{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}
div.chess>div.row>div.col{
    border: 1px solid black;
}